/* TAG SELECTORS */
body{
    color: #40514E;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather Sans', sans-serif;
}
h1{
    margin: 50px auto 0px;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    color: #66BFBF;
}
h2{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 2.5rem;
    padding-bottom: 10px;
    color: #66BFBF;
    font-weight: normal;
}
h3{
    font-family: 'Montserrat Alternates', sans-serif;
    color: #11999E;
}
p{
    font-weight: normal;
}
a{
    color: #0d7478;
    font-family: 'Montserrat Alternates', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}
a:hover{
    color: #EAF6F6;
}
p{
    line-height: 2;
}
hr{
    width: 10%;
    border: 10px;
    border-style: dotted none none none;
    border-color: #c5c9c9;
    margin: 100px auto;
}

/* CLASS SELECTORS */
.top-container{
    background-color: #EAF6F6;
    position: relative;
    padding-top: 100px;
}
.middle-container{
    padding: 100px 0 50px;
}
.bottom-container{
    background-color: #66BFBF;
    padding: 50px 0 20px;    
}
.top-cloud{
    position: absolute;
    right: 300px;
    top: 40px;
}
.bottom-cloud{
    position: absolute;
    left: 250px;
    bottom: 300px;
}
.skill-row{
    width: 50%;
    margin: 150px auto 100px;
    text-align: left;
}
.code-img{
    width: 20%;
    height: 20%;
    border-radius: 50%;
    float: left;
    margin-right: 30px;
}
.intro{
    width: 30%;
    position: relative;
    margin: auto;
}
.domain-img{
    width: 20%;
    height: 20%;
    border-radius: 50%;
    float: right;
    margin-left: 30px;
}
.btn {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #FFFFFF;
    font-family: Arial;
    font-size: 16px;
    font-weight: 100;
    padding: 20px;
    background-color: #66BFBF;
    border: solid #66BFBF 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}
.btn:hover {
    background: #438B8B;
    border: solid #438B8B 1px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
}
.footer-link{
    
}
.copyright-txt{
    color: #FFFFFF;
    font-weight: lighter;
}
.contact-message{
    width: 40%;
    margin: 40px auto 60px;
}

.hr-float{
    margin: 200px auto 100px;
}

/* ID SELECTORS */
#profile-photo{
    height: 10%;
    width: 10%;
    border-radius: 50%;
}